[submodule "library/ansible-aur"]
	path = library/ansible-aur
	url = https://github.com/kewlfft/ansible-aur.git
[submodule ".devcontainer"]
	path = .devcontainer
	url = https://github.com/mikamo3/vscode-remote-template-ansible.git
