[submodule "library/ansible-aur"]
	path = library/ansible-aur
	url = https://github.com/kewlfft/ansible-aur.git
[submodule "library/ansible-makepkg"]
	path = library/ansible-makepkg
	url = git@github.com:mikamo3/ansible-makepkg.git
