server:
  use-syslog: yes
  do-daemonize: no
  username: "unbound"
  directory: "/etc/unbound"
  trust-anchor-file: trusted-key.key
  do-not-query-localhost: no
  forward-zone:
    name: "."
    forward-addr: {{ dns.unbound.forward_server.host }}@{{ dns.unbound.forward_server.port }}
