#!/bin/sh
USER_ID=$(id {{user.name}} -u)
sudo -u {{user.name}} DISPLAY=:0 DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/${USER_ID}/bus notify-send "S.M.A.R.T Error ($SMARTD_FAILTYPE)" "$SMARTD_MESSAGE" --icon=dialog-warning